@import "vars";
@import "flex";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: $bg-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

p {
  margin-top: 0;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #d5d5d5;
}

details {
  padding: 0 1rem;
  &:focus {
	outline: 0;
  }
  summary {
	background: $details-summary-bg;
	border: 1px solid $dark-gray;
	font-size: 1.25rem;
	padding: 0.5rem 0;
	margin: 0 -0.75rem;
	&:focus {
	  outline: 0;
	}
  }
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1rem;
  padding: 0;
  &:hover {
	color: #4078c0;
  }
}

.main__actions {
  align-items: flex-start;
  button {
	margin-bottom: 0.5rem;
  }
}

.main__projects-list {
  flex: 1;
  background: #f5f5f5;
  overflow: scroll;
  ::-webkit-details-marker { display:none; }
  summary {
	border:0;
  }
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
	  display: block;
	  padding: 0.25rem 0.5rem 0.25rem 0;
	  border-bottom: solid 1px $dark-gray;
	}
  }
  button {
	border: 0;
	background: transparent;
	font-size: 1rem;
	padding: 0;
  }
}

.project__title {
  padding: 0.5rem 0;
  h1 {
	flex: 1;
  }
}

.project__sidebar {
  flex: 0 0 35%;
  max-width: 35%;
  overflow-y: scroll;
  background: lighten($light-gray, 50%);
  border-right: 1px solid $light-gray;
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
	  display: block;
	  padding: 0.25rem 0.5rem;
	  border-bottom: solid 1px $dark-gray;
	  font-size: 90%;
	  &:last-child {
		border-bottom: 0;
	  }
	  &:hover {
		background: $blue;
		color: #fff;
	  }
	}
  }
}

.button__actions {
  //flex: 1;
  //align-items: flex-end;
  button {
	display: block;
	padding: 0.5rem;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	&:focus {
	  outline: 0;
	  border: 1px solid #aaa;
	}
	flex: 1;
	&:hover {
	  background: darken($dark-gray, .75);
	}
  }
}

.project__information {
  padding: 0 1rem;
}

.project__output {
  flex: 1;
  border: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  p {
	padding: 1px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.project__output {
  font-family: monospace;
  font-size: 80%;
  background: #000;
  color: #e3e3e3;
}

.project__dependencies-list li {
  cursor: pointer;
}

.window__create-project {
  .button__actions {
	margin-top: 1rem;
  }
  button {
	display: block;
	padding: 0.35rem;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	&:focus {
	  outline: 0;
	  border: 1px solid #aaa;
	}
	&:hover {
	  background: darken($dark-gray, .75);
	}
  }
  #project-destination {
	cursor: pointer;
  }
}
.main__landing {
  background: linear-gradient(135deg, #3700aa 0%,#4500d4 22%,#6c00e9 57%,#992aff 100%);
  color: white;
  button {
	color: white;
	font-weight: normal;
  }
}

.window__main--header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  h1 {
	margin-bottom: 0;
	font-weight: normal;
  }
}

.hidden {
  display: none !important;
}

.log--error {
  background: #A94443;
  color: white;
}
.log--output {
  color: #FFFF91;
}
